/* dracula theme */
@define-color Nix-Logo       #7EBAE4;
@define-color Background-a   rgba(40, 42, 54, 0.8);
@define-color Background     #282a36;
@define-color Current-Line   #44475a;
@define-color Selection      #44475a;
@define-color Foreground     #f8f8f2;
@define-color Comment        #6272a4;
@define-color Cyan           #8be9fd;
@define-color Green          #50fa7b;
@define-color Orange         #ffb86c;
@define-color Pink           #ff79c6;
@define-color Purple         #bd93f9;
@define-color Red            #ff5555;
@define-color Yellow         #f1fa8c;

* {
    border: none;
    font-family: Noto Sans CJK;
    font-size: 14px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: @Background-a;
    color: @Foreground;
}

#workspaces {
    background: transparent;
    font-weight: normal;
    font-style: normal;
}

#workspaces button {
    border-radius: 50%;
    padding: 0 0.25em;
    margin: 0 0.1em;
    background-color: transparent;
    color: @Comment;
}

#workspaces button.active {
    color: @Purple;
}

#workspaces button.urgent {
    color: @Red;
}

#workspaces button:hover {
    color: @Purple;
}

#custom-date,
#clock,
#battery,
#pulseaudio,
#network,
#custom-launcher {
    background: transparent;
    margin: 0 0.1em;
    border-radius: 20%;
}

#custom-mytray,
#custom-launcher {
    padding: 0 0.5em;
    color: @Nix-Logo;
    background: transparent;
}

#custom-launcher button:hover {
    background-color: #5277C3;
    color: transparent;
}

#custom-power {
    color: @Background;
    background-color: @Red;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 5px 10px;
}

#tray {
    background: @Background-a;
    border-radius: 30%;
    padding: 0 0.5em;
}

#clock {
    color: #E6B9C6;
    background-color: transparent;
    font-weight: bold;
}


#battery {
    color: #9ece6a;
}

#battery.charging {
    color: #9ece6a;
}

#battery.warning:not(.charging) {
    background-color: #f7768e;
    color: #24283b;
    border-radius: 5px 5px 5px 5px;
}

#backlight {
    background-color: #24283b;
    color: #db4b4b;
    border-radius: 0px 0px 0px 0px;
    /* margin: 5px; */
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px;
}

#network {
    color: #f4d9e1;
    border-radius: 8px;
    margin-right: 5px;
}

#pulseaudio {
    color: #f4d9e1;
}

#pulseaudio.muted {
    background: transparent;
    color: #928374;
}

#custom-playerlabel,
#window {
    background: transparent;
    margin: 0 0.5em;
    /* padding-left: 15px; */
    /* padding-right: 15px; */
}

#cpu,
#memory,
#disk {
    background-color: @Background;
    border-radius: 30%;
    margin: 0 0.1em;
    padding: 0 0.1em;
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* padding: 0px 10px 0px 10px; */
    font-weight: bold;
}

